[submodule "Jarvis/ThirdParty/mlc-llm"]
	path = Jarvis/ThirdParty/mlc-llm
	url = https://github.com/mlc-ai/mlc-llm.git
[submodule "external/mlcllm"]
	path = external/mlcllm
	url = https://github.com/mlc-ai/mlc-llm.git
[submodule "Jarvis/external/mlcllm"]
	path = Jarvis/external/mlcllm
	url = https://github.com/Mistico06/mlc-llm.git
